<h1 id="title">ember-cli-pagedown</h1>

<p>
  Project repo: [aethermx/ember-cli-pagedown](https://github.com/aethermx/ember-cli-pagedown)
</p>

<h2>Install</h2>

<pre>
  ember install:addon ember-cli-pagedown
  bower install --save git@github.com:ujifgc/pagedown.git#f1ae0f5626e044f64b937836962a9941c60c7596
</pre>

<h2>Objects available</h2>

<div class="list-group">
  <a href="#pd_converter" class="list-group-item">
    <strong>view:pd-converter</strong>
  </a>
  <a href="#pd_s_converter" class="list-group-item">
    <strong>view:pd-s-converter</strong>
  </a>
 
  <li class="list-group-item">
    <strong>view:pd-editor</strong>
    <div class="list-group">
      <a href="#pd_editor_text" class="list-group-item">
        view:pd-editor
        <small>text</small>
      </a>
      <a href="#pd_editor_bind" class="list-group-item">
        view:pd-editor
        <small>bind</small>
      </a>
    </div>
  </li>
</div>

<h2>Examples</h2>


<div id="pd_converter" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    Converts Markdown to HTML. 
  </div>
</div>

<div id="pd_s_converter" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    Letter s for sanitized.
  </div>
</div>

<!-- first editor -->
<div id="pd_editor_text" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-editor' idPostfix='-first' 
              markdown='*italics* **bold** [link](http://example.org)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-first' 
           markdown='*italics* **bold** [link](http://example.org)'}}
  </div>
  <div class="panel-footer">
    Defaults to sanitized html.
  </div>
</div>

<!-- second editor -->
<div id="pd_editor_bind" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-editor' idPostfix='-second' markdown=controllerProperty}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-second' markdown=controllerProperty}}
  </div>
  <div class="panel-footer">
    \{{controllerProperty}}<br>
    {{controllerProperty}}
  </div>
</div>

{{outlet}}
