<h1 id="title">ember-cli-pagedown</h1>

<a href="https://github.com/aethermx/ember-cli-pagedown"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<h2>Install</h2>

<pre>
  ember install:addon ember-cli-pagedown
  bower install --save https://github.com/ujifgc/pagedown.git#f1ae0f5626e044f64b937836962a9941c60c7596 
</pre>

<h2>Objects available</h2>

<div class="list-group">
  <a href="#pd_converter" class="list-group-item">
    <strong>view:pd-converter</strong>
  </a>
  <a href="#pd_s_converter" class="list-group-item">
    <strong>view:pd-s-converter</strong>
  </a>
 
  <li class="list-group-item">
    <strong>view:pd-editor</strong>
    <div class="list-group">
      <a href="#pd_editor_text" class="list-group-item">
        view:pd-editor
        <small>text</small>
      </a>
      <a href="#pd_editor_bind" class="list-group-item">
        view:pd-editor
        <small>bind</small>
      </a>
    </div>
  </li>
</div>

<h2>Examples</h2>


<div id="pd_converter" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    Converts Markdown to HTML. 
  </div>
</div>

<div id="pd_s_converter" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    Letter s for sanitized.
  </div>
</div>

<!-- first editor -->
<div id="pd_editor_text" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-editor' idPostfix='-first' 
              markdown='*italics* **bold** [link](http://example.org)'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-first' 
           markdown='*italics* **bold** [link](http://example.org)'}}
  </div>
  <div class="panel-footer">
    Defaults to sanitized html.
  </div>
</div>

<!-- second editor -->
<div id="pd_editor_bind" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      \{{view 'pd-editor' idPostfix='-second' markdown=controllerProperty}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-second' markdown=controllerProperty}}
  </div>
  <div class="panel-footer">
    \{{controllerProperty}}<br>
    {{controllerProperty}}
  </div>
</div>

{{outlet}}
