<h1 id="title">ember-cli-pagedown</h1>

<h2>Install</h2>

<pre>
  ember install:addon ember-cli-pagedown
  bower install --save git@github.com:ujifgc/pagedown.git#f1ae0f5626e044f64b937836962a9941c60c7596
</pre>

<h2>Objects available</h2>

<div class="list-group">
  <a href="#pd_converter" class="list-group-item">
    view:pd-converter
  </a>
  <a href="#pd_s_converter" class="list-group-item">
    view:pd-s-converter
  </a>
  <a href="#pd_editor" class="list-group-item">
    view:pd-editor
  </a>
</div>

<h2>Examples</h2>


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 id="pd_converter" class="panel-title">
      view:pd-converter
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    \{{view 'pd-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 id="pd_s_converter" class="panel-title">
      view:pd-s-converter (sanitized)
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
  <div class="panel-footer">
    \{{view 'pd-s-converter' markdown='*italics* **bold** [link](#)'}}
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 id="pd_editor" class="panel-title">
      view:pd-editor (defaults to sanitized)
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor'}}
  </div>
  <div class="panel-footer">
    \{{view 'pd-editor'}}
  </div>
</div>

{{outlet}}
